version: '{build}'

image: Visual Studio 2022

environment:
  nodejs_version: "20"

install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install --frozen-lockfile

build_script:
  - yarn run build

test_script:
  - yarn test

cache:
  - node_modules -> yarn.lock